/*初始化*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*全域設定*/
body {
  font-family: Arial, "Huninn", "Zen Antique", sans-serif;
  line-height: 1.5; /*當前設定字型*1.5*/
  background-color: #fff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*彈性容器,使用在主內容(預覽區)*/
#flctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*子元素水平置中*/
  align-items: center; /*子元素垂直置中*/
  width: 90%;
  background: radial-gradient(
    circle closest-side,
    #c7c7c7 0%,
    #e0e0e0 30%,
    #fff 100%
  );
}
/*首頁設定*/
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  display: flex;
  /*word-wrap: break-word;
  overflow-wrap: break-word;*/
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 10px;
}
/*預覽畫面跟側邊選單版面調整*/
.main-content {
  display: flex;
  flex: 1; /* 讓這個容器填滿 header 以外的剩餘垂直空間 */
  width: 100%;
}
/*預覽畫面設定*/
section {
  background-color: #fff;
}
/*右側欄位設定*/
aside {
  width: 20%;
  background-color: #fff;
  padding: 10px;
}
/*右側選單*/
aside ul {
  margin: 0; /* 移除外距 */
  padding: 0; /* 移除內距 */
  list-style-position: inside; /* 將點移到 li 元素的內部 */
}
/*右側選單*/
aside li {
  list-style-type: disc;
  margin: 0;
  padding: 5px 0; /* 可以加一點上下內距讓項目分開 */
}
/*隱藏子選單*/
.submenu {
  display: none;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}
/*父選單被點擊後底下隱藏的子選單會顯示*/
.has-submenu.active .submenu {
  /*active後面有空格*/
  display: block;
}
/*子選單裡的縮圖*/
.item-img {
  width: 50px; /* 縮圖寬度 */
  height: auto;
  cursor: pointer; /* 讓滑鼠移上去時顯示手指圖示，表示可以點擊 */
  margin-left: 10px;
}
/*預覽區的清晰圖片*/
#preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 確保圖片在容器內完整顯示 */
}
/*改標題字型*/
h1,
h3 {
  font-family: "Zen Antique";
}
